.button{
    background-color: #393939;
    border: none;
    color: #bbb;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover{
    background-color: #4d4d4d;
}

