.vertex {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #393939;
  color: white;
  border-radius: 100%;
  border: 2px solid black;
  width: 40px;
  aspect-ratio: 1/1;
  transform: translateX(-50%) translateY(-50%);
}
