.item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  background-color: #393939;
  color: rgb(166, 166, 166);
}

.arrowBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listOfElements {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: last baseline;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #2e2e2e;
  font-size: 0.9rem;
  border-bottom: 1px solid white;
}

.singleLink {
  width: 85%;
  font-weight: bold;
  color: #a6a6a6;
  padding-left: 15%;
  padding-top: 4px;
  padding-bottom: 4px;
}

.singleLink:hover {
  background-color: #4d4d4d;
}

.itemWithoutPadding {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
