.sideBar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  width: 249px;
  background-color: #393939;
  border-right: 1px solid white;
}

.sideBar::-webkit-scrollbar {
  width: 10px;
}

.sideBar::-webkit-scrollbar-track {
  background-color: rgb(110, 108, 108);
}

.sideBar::-webkit-scrollbar-thumb {
  background-color: rgb(194, 188, 188);
}
